<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Name:</td>
        <td>Price:</td>
        <td>Description</td>
    </tr>
    <tr th:each="product,iterStat:${products}" th:class="${iterStat.odd}?'odd'" >
        <td th:text="${product.name}"></td>
        <td th:text="${product.email}"></td>
        <td th:text="${product.address}"></td>
    </tr>
</table>
</body>
</html>